<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="Nancy" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.Hosting.Aspnet" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.Serialization.ServiceStack" version="1.2.0" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.11" targetFramework="net451" />
</packages>